<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호 변경</h4>
        </div>
    </div>
    <form th:action="@{/user/change_password}" th:object="${changePasswordDto}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="oldPassword" class="form-label">현재 비밀번호</label>
            <input type="password" th:field="*{oldPassword}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">새 비밀번호</label>
            <input type="password" th:field="*{newPassword}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">새 비밀번호</label>
            <input type="password" th:field="*{confirmPassword}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">확인</button>
    </form>
</div>
</html>
