<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">SMS 전송</h5>
    <table class="table">
        <thead class="table">
        <tr class="text-center">
            <th>
                <input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes(this)">
            </th>
            <th>번호</th>
            <th >사용자 아이디</th>
            <th>이메일</th>
            <!--<th>작성일시</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="user, stat : ${user}">
            <td>
                <input type="checkbox" class="userCheckbox">
            </td>
            <td th:text="${stat.count}"></td>
            <td class="text-start">
                <span th:text="${user.username}"></span>
            </td>
            <td><span th:if="${user.email != null}" th:text="${user.email}"></span></td>
        </tr>
        </tbody>
    </table>

    <!--<form th:object="${smsForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea id="markdown" th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>-->
</div>
<script layout:fragment="script" type='text/javascript'>
    function toggleAllCheckboxes(source) {
        let checkboxes = document.querySelectorAll(".userCheckbox");
        checkboxes.forEach(checkbox => {
            checkbox.checked = source.checked;
        });
    }
</script>
</html>